
@model IEnumerable<HistorialMedico.Models.paciente>

@{
    Layout = "~/Views/Shared/_AsistenteLayout/_AsistenteLayout.cshtml";
    ViewBag.Title = "Index";
}

    <center>
        <h2>Reporte de Cumpleaños</h2>
        <br />
    </center>

    <div class="form-group">

        <div class="form-group">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Fecha" class="form-group">
            <input type="button" class="btn btn-primary btn-lg " value="Generar factura" />
        </div>
    </div>



<table class="table table-striped" id="myTable">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Telefono
        </th>
        <th>
            Fecha
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(model => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.ValueFor(modelItem => item.fechaNacimiento, "{0:dd/MM/yyyy}")
            </td>

        </tr>
    }

</table>

<div class="form-horizontal">

    

</div>

@*<h4><label id="Ingresar"> </label> </h4>*@

<script>

    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");


        for (i = 0; i < tr.length; i++)

            td = tr[i].getElementsByTagName("td")[0];

        if (td) {

            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
                
            }
        }
    }

    
</script>