
@model IEnumerable<HistorialMedico.Models.paciente>

@{
    ViewBag.Title = "Index";
}

<div class="form-horizontal">
    <center>
        <input type="button" class="glyphicon glyphicon-gift" />
        <h2>Reporte de Cumpleaños</h2>
    </center>
</div>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Fecha" class="form-control">

<br />

<table class="table table-striped" id="myTable">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Telefono
        </th>
        <th>
            Fecha
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(model => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.ValueFor(modelItem => item.fechaNacimiento, "{0:dd/MM/yyyy}")
            </td>

        </tr>
    }

</table>

@*<h4><label id="Ingresar"> </label> </h4>*@

<script>

    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");


        for (i = 0; i < tr.length; i++)

            td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
                
            }
        }
    }

    
</script>