
@{
    Layout = "~/Views/Shared/_AsistenteLayout/_AsistenteLayout.cshtml";
    ViewBag.Title = "VerificarCedula";
}


<h2>Crear Paciente</h2>
<br />
<form action="/Asistente/VerificarCedula" method="post">
    <input type="text" name="cedulaP" class="form-control" placeholder="Cedula del Paciente" />
    <p>Ingrese la cedula del paciente sin guinoes</p>
    <br />
    <button class="btn btn-danger">Crear</button>
</form>