@model IEnumerable<HistorialMedico.Models.visita>
@{
    /**/

    ViewBag.Title = "ImprimirReceta";
}

<h2>Imprimir Receta</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Paciente">
<table class="table" id="myTable">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Receta
        </th>
        <th>
            Imprimir
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recetaDeMedicmentos)
        </td>
        <td>
            @Html.ActionLink("Doctor", "ImprimirRecetas", new { id = item.id_paciente })
        </td>
    </tr>
    }

</table>


<script>
    function myFunction() {

        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");


        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>