@model IEnumerable<HistorialMedico.Models.visita>

@{
    Layout = "~/Views/Shared/_DoctorLayout/_DoctorLayout.cshtml";
    ViewBag.Title = "visitaPaciente";
}

<center>
    <h2>Visitas de Pacientes</h2>
</center>
<div class="form-inline">
    <h4>Buscar Cita de Paciente: </h4>
    <input type="text" id="myInput" style="width: 250px;" onkeyup="myFunction()" placeholder="Paciente" class="form-control">
</div>
<br />

<table class="table" id="myTable">
    <tr class="btn-success">
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Fecha de la Visita
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaProximaVisita)
        </td>
    </tr>
}

</table>


<script>
    function myFunction() {
        
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>