
@{
    ViewBag.Title = "ReportesDelSistema";
}

<h2>Reportes Del Sistema</h2>
<form action="/Admin/ResportesDeDoctores" method="post">
    <a><button class="btn btn-danger">Doctores</button></a>
    <br />
    <br />
</form>
<form action="/Admin/ResportesDePacientes" method="post">
    <a><button class="btn btn-danger">Pacientes</button></a>
    <br />
    <br />
</form>
<form action="/Admin/ResportesDeAsistentes" method="post">
    <a><button class="btn btn-danger">Asistentes</button></a>
    <br />
    <br />
</form>
